
manifest {
    contributors    = [[ name : "Florian Bénitière", github : "https://github.com/FloBeni",          contribution : "author" ],
                       [ name : "Benjamin Clark",    github : "https://github.com/Benjamin-R-Clark", contribution : "author" ]
                       ]
    version         = "0.2.3"
    name            = "CNV-Annotation"
    homePage        = "https://github.com/JacquemontLab/CNV-Annotation"
    nextflowVersion = '25.04.2'
    organization    = "https://github.com/JacquemontLab"
    description     = "Nextflow pipeline for annotating CNV information. Only requires CNV positions, type and SampleID"
}


profiles {
    test {
        params {
            cnvs = "${projectDir}/test/test_cnvs_10k.tsv"
            genome_version = 'GRCh38'
            cohort_tag = "Test_38"
        }
    }
}