manifest {
    name        = 'CNV-Annotation'
    author      = 'Benjamin Clark and Florian Bénitière'
    description = 'Nextflow pipeline for annotating CNV. Only requires CNV positions, type and SampleID.'
    version     = '2.0.0'
}


profiles {
    
    // Test profile
    test {
        params {
            cnvs = "${projectDir}/tests/cnvs_10k.tsv"
            genome_version = 'GRCh38'
            dataset_name = "Testing"
        }
    }

    // Apptainer containers
    apptainer {
        apptainer.enabled = true
        process  {
            container = 'docker://ghcr.io/jacquemontlab/python_etl_packages:latest'

            withLabel: vep {
                container = 'docker://ghcr.io/jacquemontlab/ensembl_113:latest'
                }
        }
    }

    // Singularity containers
    singularity {
        singularity.enabled = true
        process  {
            container = 'docker://ghcr.io/jacquemontlab/python_etl_packages:latest'

            withLabel: vep {
                container = 'docker://ghcr.io/jacquemontlab/ensembl_113:latest'
                }
        }
    }

    // Docker containers
    docker {
        docker.enabled = true
        process  {
            container = 'ghcr.io/jacquemontlab/python_etl_packages:latest'

            withLabel: vep {
                container = 'ghcr.io/jacquemontlab/ensembl_113:latest'
                }
        }
    }

    // Conda environment
    // But problem with duckdb from bash that is not rightly installed with mamba
    // curl -L https://github.com/duckdb/duckdb/releases/latest/download/duckdb-linux-amd64.zip -o duckdb.zip
    // unzip duckdb.zip
    // chmod +x duckdb
    conda {
        conda {
            enabled = true
            useMamba = false
            autoMounts = true
            channels = ['conda-forge', 'bioconda', 'default']
        }

        process {        
            conda = "conda-forge::duckdb conda-forge::python-duckdb conda-forge::pyarrow conda-forge::pandas conda-forge::polars conda-forge::matplotlib"

            withLabel: vep {
                conda = 'bioconda::ensembl-vep=113.4'
                }
        }
    }
}