
manifest {
    contributors    = [[ name : "Florian Bénitière", github : "https://github.com/FloBeni",          contribution : "author" ],
                       [ name : "Benjamin Clark",    github : "https://github.com/Benjamin-R-Clark", contribution : "author" ]
                       ]
    version         = "0.1"
    name            = "CNV-DB-Builder-lite"
    homePage        = "https://github.com/JacquemontLab/CNV-DB-Builder-lite"
    nextflowVersion = '25.04.2'
    organization    = "https://github.com/JacquemontLab"
    description     = "Nextflow pipeline for annotating CNV information. Only requires CNV positions, type and SampleID"
}
