
conda {
    enabled = true
    useMamba = false
    autoMounts = true
    channels = ['conda-forge', 'bioconda', 'default']
}

process {
    executor = 'local'
    cpus     = 96
    memory   = '400G'
  
  withLabel: polars_duckdb {
	  conda = 'conda-forge::polars conda-forge::python-duckdb conda-forge::pandas conda-forge::matplotlib'
	}

  withLabel: vep {
	  conda = 'bioconda::ensembl-vep=113.4'
	}

  withLabel: loeuf_report {
	  conda = "conda-forge::python-duckdb conda-forge::pyarrow conda-forge::pandas conda-forge::polars conda-forge::matplotlib"
	}
}
