params {
    vep_cache         = "/home/jupyter/vep_cache"
    genome_regions    = "${projectDir}/resources/Genome_Regions/Genome_Regions_data.tsv"
    //HG38 specific gnomad file
    gnomad_AF         = "/home/jupyter/vep_cache/homo_sapiens/gnomad/gnomad.v4.1.sv.sites.vcf.bgz"
    gnomad_constraints = "/home/jupyter/vep_cache/homo_sapiens/gnomad/gnomad.v4.1.constraint_metrics.tsv" 
}


conda.enabled = true

process {

  executor = 'local'
  cpus     = 80  
  memory   = '300G'
  
  withLabel: polars {
	conda = 'conda-forge::polars conda-forge::python-duckdb'

	}

}
