params {
    vep_cache         = "${projectDir}/resources"
    genomic_regions    = "${projectDir}/resources/Genome_Regions/Genome_Regions_data.tsv"
}


conda.enabled = true

process {

    executor = 'local'
    cpus     = 80  
    memory   = '300G'
  
  withLabel: polars {
	  conda = 'conda-forge::polars conda-forge::python-duckdb'
	}
}
